.titleBar{
    position: sticky;
    top: 72px;
    z-index: 9;
    background-color: var(--bg);
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 16px 0;
}
.titleBar .container{
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleBar h2{
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .titleBar{
        padding: 24px 0;
        top: 90px;
    }
    .titleBar .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}


/*----------活動文章----------*/
.breadcrumb{
    position: sticky;
    top: 72px;
    z-index: 9;
    border-bottom: 1px solid var(--main);
    padding: 10px;
    background-color: var(--bg);
}
.breadcrumb .container{
    padding-left: 32px;
}
.breadcrumb .container a{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 12px;
    display: inline;
    text-decoration: none;
}
.breadcrumb .container .now{
    text-decoration: underline;
}
.activity{
    padding: 64px 32px;
    position: relative;
}
.activity header{
    display: flex;
    flex-direction: column;
    position: relative;
}
.activity header .time{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
    color: var(--main);
    margin-bottom: 16px;
}
.activity header .date{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 16px;
}
.activity header h1{
    color: var(--main);
    margin-bottom: 22px;
    line-height: 1.5em;
}
.activity header .loc{
    color: var(--main);
    margin-bottom: 32px;
}
.activity header .tag{
    position: absolute;
    right: 0;
    bottom: 32px;
    color: var(--main);
}
.activity .coverPic{
    z-index: -1;
    width: 100%;
    max-height: 160px;
    border: 1px solid var(--main);
    border-radius: 50%;
    overflow: hidden;
}
.activity .coverPic img{
    width: 100%;
}
.activity .article{
     padding: 64px 0 64px; 
}
.activity .article p{
    margin-bottom: 16px;
}
.activity .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.activity .info .title{
    font-family: 'Glow Sans TC Wide Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 0.01em;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main);
}
.activity .locName{
    border: 1px solid var(--main);
    margin-bottom: 32px;
    padding: 16px;
}

@media screen and (min-width: 1024px) {
    .breadcrumb{
        padding: 20px;
        top: 90px;
    }
    .breadcrumb .container{
        padding-left: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
    .breadcrumb .container a{
        font-size: 18px;
    }
    .activity{
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 40px;
    }
    .activity header{
        display: block;
        width: 100%;
        position: absolute;
        left: 42px;
        top: 104px;
    }
    .activity header .time{
        padding: 6px 18px;
        font-size: 18px;
        border: 1px solid var(--main);
        background-color: #FCFCFC;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .activity header .date{
        font-size: 20px;
    }
    .activity header h1{
        padding: 6px 18px;
        border: 1px solid var(--main);
        background-color: #FCFCFC;
        border-radius: 5px;
        margin-bottom: 22px;
        line-height: 1.6em;
    }
    .activity header .loc{
        padding: 6px 18px;
        border: 1px solid var(--main);
        background-color: #FCFCFC;
        border-radius: 5px;
        margin-bottom: 70px;
    }
    .activity header .tag{
        position: relative;
        padding: 6px 18px;
        border: 1px solid var(--main);
        background-color: #FCFCFC;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .activity .coverPic{
        width: auto;
        top: 26px;
        right: 0;
        max-height: 520px;
        margin-left: 203px;
    }
    .activity .article{
        padding: 88px 0 104px; 
        columns: 3;
        column-gap: 56px;
   }
   .activity .info{
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(3, 1fr);
        column-gap: 56px;
    }
    .activity .info .title{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .activity .locName{
        margin-bottom: 32px;
        padding: 16px;
    }
    .activity .info .add{
        grid-area: 1 / 1 / 4 / 2;
    }
    .activity .info .tel{
        grid-area: 4 / 1 / 6 / 2;
    }
    .activity .info .openTime {
        grid-area: 1 / 2 / 6 / 4;
        width: 100%;
    }
    .activity .info .openTime .content{
        columns: 2;
    }
}


/*----------相關路線----------*/
.related .relRoute .content{
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.related .relRoute .content .picCards{
    display: flex;
    position: relative;
}
.related .relRoute .content .picCards .pic{
    width: 50%;
    transition: 0.3s linear;
}
.related .relRoute .content .picCards .pic img{
    width: 100%;
}
.related .relRoute .content .picCards .pic:nth-child(1){
    position: absolute;
    right: 0;
    z-index: 3;
}
.related .relRoute .content .picCards .pic:nth-child(1):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.related .relRoute .content .picCards .pic:nth-child(2){
    position: absolute;
    left: 25%;
    z-index: 2;
}
.related .relRoute .content .picCards .pic:nth-child(2):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.related .relRoute .content .picCards .pic:nth-child(3){
    left: 0;
    z-index: 1;
}
.related .relRoute .content .picCards .pic:nth-child(3):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.related .relRoute .content .text{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.related .relRoute .content .text header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.related .relRoute .content .text .distance{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
}
.related .relRoute .content .text .tags{
    margin-top: 64px;
}
.related .relRoute .content .btnGo {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 1024px) {
    .related .relRoute .content{
        max-width: 1200px;
        padding: 112px 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .related .relRoute .content .picCards{
        width: 60%;
    }
    .related .relRoute .content .picCards .pic{
        width: auto;
    }
    .related .relRoute .content .picCards .pic:nth-child(1){
        position: absolute;
    }
    .related .relRoute .content .picCards .pic:nth-child(2){
        left: 30%;
        z-index: 2;
    }
    .related .relRoute .content .picCards .pic:nth-child(3){
        left: 0;
        z-index: 1;
    }
    .related .relRoute .content .text{
        width: 30%;
        margin-top: 0;
        display: flex;
    }
    .related .relRoute .content .text header{
        padding-bottom: 48px;
    }
    .related .relRoute .content .text .distance{
        font-size: 16px;
    }
    .related .relRoute .content .text .tags{
        margin-top: 112px;
    }
}



/*----------附近探索點----------*/
.related .relSpot .cardGrid{
    margin: 0 auto;
    padding: 32px;
}
.related .relSpot .cardGrid .card{
    position: relative;
    border-radius: 24px;
    border: 1px solid var(--main);
    overflow: hidden;
    margin-bottom: 14px;
}
.related .relSpot .cardGrid .card .caption{
    position: absolute;
    left: 20px;
    bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.related .relSpot .cardGrid .card .caption .tag{
    padding: 6px 12px;
    border: 1px solid var(--main);
    border-bottom: none;
    background-color: var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.related .relSpot .cardGrid .card .caption h3{
    padding: 6px 12px;
    border: 1px solid var(--main);
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.related .relSpot .cardGrid .card .caption .loc{
    padding: 6px 12px;
    border: 1px solid var(--main);
    border-top: none;
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
}
.related .relSpot .cardGrid .card .pic{
    width: 100%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
}
.related .relSpot .cardGrid .card .pic img{
    width: 100%;
    transition: 0.5s linear;
}
.related .relSpot .cardGrid .card:hover img{
    scale: 1.1;
    transition: 0.5s linear;
}

@media screen and (min-width: 1024px) {
    .related .relSpot .cardGrid{
        margin: 0 auto;
        padding: 112px 40px;
        max-width: 1200px;
        display: grid;
        grid-template: repeat(2,183.33px) / repeat(6,183.33px);
        gap: 20px;
    }
    .related .relSpot .cardGrid .card{
        position: relative;
        border-radius: 24px;
        border: 1px solid var(--main);
        overflow: hidden;
    }
    .related .relSpot .cardGrid .card .caption{
        position: absolute;
        left: 30px;
        bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .related .relSpot .cardGrid .card .caption .tag{
        padding: 6px 16px;
        border: 1px solid var(--main);
        border-bottom: none;
        background-color: var(--bg);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .related .relSpot .cardGrid .card .caption h3{
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid var(--main);
        background-color: var(--bg);
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .related .relSpot .cardGrid .card .caption .loc{
        padding: 6px 16px;
        border: 1px solid var(--main);
        border-top: none;
        background-color: var(--bg);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        align-self: flex-end;
    }
    .related .relSpot .cardGrid .card .pic{
        aspect-ratio: 1 / 1;
    }
    .related .relSpot .cardGrid .card .pic img{
        width: 100%;
    }
    .related .relSpot .cardGrid .c01{
        grid-area: 1 / 1 / 3 / 3;
    }
    .related .relSpot .cardGrid .c02{
        grid-area: 1 / 3 / 3 / 5;
    }
    .related .relSpot .cardGrid .c03{
        grid-area: 1 / 5 / 3 / 7;
    }
}



/*----------附近活動----------*/

.related .relAct .content{
    margin: 32px auto;
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
    overflow-x: scroll;
    text-align: center;
}
.related .relAct .content .timeline{
    width: 100%;
    position: absolute;
    bottom: 66px;
    left: 32px;
}
.related .relAct .content .act{
    padding-left: 32px;
    text-align: center;
    position: relative;
}
.related .relAct .content .act h4{
    padding: 12px;
    border: 1px solid var(--main);
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 32px;
    z-index: 3;
}
.related .relAct .content .act .pic{
    width: 80vw;
    height: 40vw;
    border: 2px solid var(--main);
    border-radius: 50%;
    position: relative;
    top: 40px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.related .relAct .content .act .pic img{
    width: 100%;
    transition: 0.5s linear;
}
.related .relAct .content .act .pic:hover img{
    scale: 1.1;
    transition: 0.5s linear;
}
.related .relAct .content .act .detail{
    position: absolute;
    right: 0;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.related .relAct .content .act .detail .loc{
    padding: 6px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.related .relAct .content .act .detail .tag{
    padding: 6px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.related .relAct .content .act .dot{
    margin: 96px auto 16px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main);
}
.related .relAct .content .act .date{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.related .relAct .content .act .time{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width: 1024px) {
    .related .relAct .content{
        margin: 144px auto;
        padding: 0 40px;
        max-width: 1200px;
        overflow: visible;
    }
    .related .relAct .content .timeline{
        bottom: 90px;
    }
    .related .relAct .content .act{
        padding-left: 0;
    }
    .related .relAct .content .act h4{
        top: -32px;
        left: 0;
    }
    .related .relAct .content .act .pic{
        width: 376px;
        height: 184px;
        top: 16px;
    }
    .related .relAct .content .act .detail{
        top: 160px;
    }
    .related .relAct .content .act .detail .loc{
        padding: 8px 10px;
    }
    .related .relAct .content .act .detail .tag{
        padding: 8px 10px;
    }
    .related .relAct .content .act .dot{
        margin: 48px auto 24px;
    }
    .related .relAct .content .act .date{
        font-size: 20px;
        line-height: 32px;
    }
    .related .relAct .content .act .time{
        font-size: 20px;
        line-height: 32px;
    }
}