@font-face{
    font-family: 'Glow Sans TC Wide ExtraBold';
    src: url(../font/GlowSansTC-Wide-ExtraBold.otf);
}
@font-face{
    font-family: 'Glow Sans TC Wide Heavy';
    src: url(../font/GlowSansTC-Wide-Heavy.otf);
}
@font-face {
    font-family: 'Glow Sans TC Wide Bold';
    src: url(../font/GlowSansTC-Wide-Bold.otf);
}
@font-face {
    font-family: 'Glow Sans TC Wide Light';
    src: url(../font/GlowSansTC-Wide-Light.otf);
}
@font-face {
    font-family: 'Glow Sans TC Normal Bold';
    src: url(../font/GlowSansTC-Normal-Bold.otf);
}
@font-face {
    font-family: 'Glow Sans TC Normal Regular';
    src: url(../font/GlowSansTC-Normal-Regular.otf);
}
@font-face {
    font-family: 'Glow Sans TC Compressed Book';
    src: url(../font/GlowSansTC-Compressed-Book.otf);
}

:root{
    --bg: #FFF9EE;
    --main: #392C29;
}
*{
    color: var(--main);
}
html{
    background-color: var(--bg);
}
h1{
    font-family: 'Glow Sans TC Wide Heavy';
    font-size: 40px;
    letter-spacing: 0.06em;
}
h2{
   font-family: 'Glow Sans TC Wide ExtraBold'; 
   font-size: 36px;
   letter-spacing: 0.05em;
}
h3{
    font-family: 'Glow Sans TC Normal Bold';
    font-size: 32px;
    letter-spacing: 0.05em;
}
h4{
    font-family: 'Glow Sans TC Normal Bold';
    font-size: 24px;
    letter-spacing: 0.05em;
}
p{
    font-family: 'Glow Sans TC Normal Regular';
    font-size: 21px;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-align: justify;
}
.tag{
    font-family: 'Glow Sans TC Wide Light';
    font-family: 14px;
    letter-spacing: 0.05em;
}

.loc{
    font-family: 'Glow Sans TC Compressed Book';
    font-family: 14px;
    letter-spacing: 0.05em;
}

/*----------導覽列----------*/
.topBar{
    border-bottom: 2px solid var(--main);
    padding: 16px 64px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg);
}
.logoHor{
    width: 240px;
}
.logoHor img{
    width: 100%;
}
.weather{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Glow Sans TC wide ExtraBold';
    font-size: 24px;
}
.weather_icon{
    font-size: 32px;
}
.menu{
    padding-left: 48px;
}
.menu_button{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--bg);
    font-size: 28px;
    position: relative;
}

    /*----------隱藏菜單----------*/
    .hiddenMenu{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-top: 144px;
        padding-right: 96px;
        padding-bottom: 160px;
        padding-left: 144px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        height: 100vh;
        background-color: var(--bg);
        border-left: 2px solid var(--main);
    }
    .close{
        position: absolute;
        top: 32px;
        right: 56px;
        font-size: 30px;
        cursor: pointer;
    }
    .logoSqr{
        width: 114px;
        padding-bottom: 72px;
    }
    .logoSqr img{
        width: 100%;
    }
    .hiddenMenu nav li{
        font-family: 'Glow Sans TC Wide Bold';
        font-size: 24px;
        text-decoration: underline;
        padding-bottom: 42px;
    }
    .SNS{
        padding-top: 160px;
        display: flex;
        gap: 32px;
    }
#showMenu{
    display: none;
}
#showMenu:checked + .menu .hiddenMenu{
    display: flex;
    position: absolute;
}


/*-----------引言---------*/
.mainPic{
    padding-top: 80px;
}
.intro{
    padding-top: 64px;
    text-align: center;
    font-family: 'Glow Sans TC Normal Regular';
    font-size: 21px;
    letter-spacing: 1px;
    padding-bottom: 56px;
}
.downArrowWide{
    padding-bottom: 80px;
}
/* .menu:hover .hiddenMenu{
    display: flex;
    position: absolute;
} */


/*----------頁尾----------*/
footer{
    background-color: var(--main);
    text-align: center;
}
.subscribe{
    padding-top: 112px;
    padding-bottom: 112px;
    border-bottom: 1px solid var(--bg);
    text-align: center;
}
.subscribe .logo{
    margin: 0 auto;
    width: 185px;
}
.subscribe .logo img{
    width: 100%;
}
.subscribe h2{
    color: var(--bg);
    padding-top: 48px;
}
.subscribe p{
    color: var(--bg);
    text-align: center;
    padding-top: 28px;
    font-family: 'Glow Sans TC Wide Light';
    font-size: 18px;
    letter-spacing: 0.05em;
}
.subscribe .emailInput{
    position: relative;
    padding-top: 56px;
}
.subscribe .emailInput input{
    width: 600px;
    height: 48px;
    border: none;
    border-bottom: 1px solid var(--bg);
    background-color: var(--main);
    color: var(--bg);
    font-size: 28px;
}
.subscribe .emailInput input:focus{
    outline: none;
    border-bottom: 1px solid var(--bg);
}
.subscribe .emailInput input::placeholder{
    font-family: 'Glow Sans TC Normal Regular';
    font-size: 24px;
}
.subscribe .emailInput a{
    position: absolute;
    margin-left: 16px;
    background-color: var(--main);
}
footer .nav{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    padding: 80px 40px;
    justify-content: space-between;
}
footer .nav .menu ul{
    display: flex;
    gap: 20px;
}
footer .nav .menu li{
    width: 184px;
    border-bottom: 1px solid var(--bg);
    text-align: left;
    padding-bottom: 12px;
}
footer .nav .menu li a{
    color: var(--bg);
    font-family: 'Glow Sans TC Wide Bold';
    font-size: 24px;
    text-decoration: none;
}
footer .nav .SNS{
    padding-top: 0;
}
footer .nav .SNS i{
    color: var(--bg);
}
footer .copyright{
    border-top: 1px solid var(--bg);
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .copyright p{
    font-family: 'Glow Sans TC Wide Light';
    font-size: 14px;
    letter-spacing: 0.05em;
    color: var(--bg);
    text-align: center;
}