@font-face{
    font-family: 'Glow Sans TC Wide ExtraBold';
    src: url(../font/GlowSansTC-Wide-ExtraBold.otf);
}
@font-face{
    font-family: 'Glow Sans TC Wide Heavy';
    src: url(../font/GlowSansTC-Wide-Heavy.otf);
}
@font-face {
    font-family: 'Glow Sans TC Wide Bold';
    src: url(../font/GlowSansTC-Wide-Bold.otf);
}
@font-face {
    font-family: 'Glow Sans TC Wide Light';
    src: url(../font/GlowSansTC-Wide-Light.otf);
}
@font-face {
    font-family: 'Glow Sans TC Normal Bold';
    src: url(../font/GlowSansTC-Normal-Bold.otf);
}
@font-face {
    font-family: 'Glow Sans TC Normal Regular';
    src: url(../font/GlowSansTC-Normal-Regular.otf);
}
@font-face {
    font-family: 'Glow Sans TC Compressed Book';
    src: url(../font/GlowSansTC-Compressed-Book.otf);
}

:root{
    --bg: #FFF9EE;
    --main: #392C29;
}
*{
    color: var(--main);
}
html{
    background-color: var(--bg);
}


/* 文字樣式 */

h1{
    font-family: 'Glow Sans TC Wide Heavy', sans-serif;
    font-size: 32px;
    letter-spacing: 0.06em;
}
h2{
   font-family: 'Glow Sans TC Wide ExtraBold', sans-serif; 
   font-size: 24px;
   letter-spacing: 0.05em;
}
h3{
    font-family: 'Glow Sans TC Normal Bold', sans-serif; 
    font-size: 24px;
    letter-spacing: 0.05em;
}
h4{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
}
p{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 30px;
    text-align: justify;
}
.tag{
    font-family: 'Glow Sans TC Wide Light', sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.loc{
    font-family: 'Glow Sans TC Compressed Book', sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
}

@media screen and (min-width: 1024px) {
    h1{
        font-size: 40px;
    }
    h2{
       font-size: 36px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 21px;
        line-height: 42px;
    }
    .tag{
        font-size: 14px;
    }
    
    .loc{
        font-size: 14px;
    }
}

/*----------導覽列----------*/
.topBar{
    border-bottom: 2px solid var(--main);
    padding: 16px 32px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg);
}
.logoHor{
    width: 160px;
}
.logoHor img{
    width: 100%;
}
.weather{
    display: none;
}
.menu{
    margin-left: auto;
}
.menu_button{
    font-size: 28px;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .topBar{
        padding: 16px 64px;
    }
    .logoHor{
        width: 240px;
    }
    .weather{
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: 'Glow Sans TC wide ExtraBold', sans-serif;
        font-size: 24px;
    }
    .weather_icon{
        font-size: 32px;
    }
    .menu{
        margin-left: 48px;
    }
    .menu_button{
        cursor: pointer;
        font-size: 28px;
        position: relative;
    }
}

    /*----------隱藏菜單----------*/
    .hiddenMenu{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        box-sizing: border-box;
        min-width: 75%;
        height: 100vh;
        padding-top: 104px;
        padding-right: 72px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        background-color: var(--bg);
        border-left: 2px solid var(--main);
    }
    .close{
        position: absolute;
        top: 16px;
        right: 32px;
        font-size: 36px;
    }
    .logoSqr{
        width: 96px;
        padding-bottom: 48px;
    }
    .logoSqr img{
        width: 100%;
    }
    .hiddenMenu nav li{
        font-family: 'Glow Sans TC Wide Bold', sans-serif;
        font-size: 20px;
        padding-bottom: 32px;
    }
    .hiddenMenu nav li a{
        text-decoration: none;
    }
    .SNS{
        margin-top: auto;
        padding-bottom: 120px;
        display: flex;
        gap: 32px;
    }
#showMenu{
    display: none;
}
#showMenu:checked + .menu .hiddenMenu{
    display: flex;
    position: absolute;
}

@media screen and (min-width: 1024px) {

        .hiddenMenu{
            min-width: 352px;
            padding-top: 144px;
            padding-right: 96px;
        }
        .close{
            top: 32px;
            right: 64px;
            cursor: pointer;
        }
        .logoSqr{
            width: 114px;
            padding-bottom: 72px;
        }
        .hiddenMenu nav li{
            font-size: 24px;
            padding-bottom: 42px;
        }
        .SNS{
            padding-bottom: 200px;
        }
    #showMenu{
        display: none;
    }
    #showMenu:checked + .menu .hiddenMenu{
        display: flex;
        position: absolute;
    }
}


/*-----------引言---------*/
.intro{
    padding-top: 56px;
    text-align: center;
}
.mainPic{
    padding-top: 56px;
}
.mainPic img{
    width: 60%;
}
p.intro{
    padding-top: 16px;
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    padding-bottom: 28px;

}
.downArrowWide{
    padding-bottom: 80px;
}
.downArrowWide img{
    width: 120px;
}

@media screen and (min-width: 1024px) {
    .intro{
        padding-top: 64px;
    }
    .mainPic{
        padding-top: 80px;
    }
    .mainPic img{
        width: auto;
    }
    p.intro{
        padding-top: 48px;
        font-size: 21px;
        letter-spacing: 1px;
        padding-bottom: 56px;
    
    }
    .downArrowWide img{
        width: auto;
    }
}


/*----------頁尾----------*/
footer{
    background-color: var(--main);
    text-align: center;
}
.subscribe{
    padding-top: 80px;
    padding-bottom: 112px;
    border-bottom: 1px solid var(--bg);
    text-align: center;
}
.subscribe .logo{
    margin: 0 auto;
    width: 120px;
}
.subscribe .logo img{
    width: 100%;
}
.subscribe h2{
    color: var(--bg);
    padding-top: 48px;
}
.subscribe p{
    color: var(--bg);
    margin: 0 48px;
    padding-top: 12px;
    text-align: center;
    font-family: 'Glow Sans TC Wide Light', sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
}
.subscribe .emailInput{
    position: relative;
    padding-top: 12px;
    margin: 0 48px;
    border-bottom: 1px solid var(--bg);
}
.subscribe .emailInput input{
    width: 100%;
    height: 32px;
    border: none;
    background-color: var(--main);
    color: var(--bg);
    font-size: 16px;
}
.subscribe .emailInput input:focus{
    outline: none;
}
.subscribe .emailInput input::placeholder{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
}
.subscribe .emailInput a{
    width: 56px;
    position: absolute;
    right: 0;
    bottom: -56px;
}
.subscribe .emailInput a img{
    width: 100%;
}

footer .nav{
    margin: 0 auto;
    padding: 64px 48px;
}
footer .nav .menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .nav .menu li{
    width: 100%;
    border-bottom: 1px solid var(--bg);
    text-align: left;
    padding-bottom: 10px;
}
footer .nav .menu li a{
    color: var(--bg);
    font-family: 'Glow Sans TC Wide Bold', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
footer .nav .SNS{
    padding-top: 32px;
    padding-bottom: 0;
    justify-content: center;
    
}
footer .nav .SNS i{
    color: var(--bg);
}
footer .copyright{
    border-top: 1px solid var(--bg);
    padding: 24px 28px 40px;
}
footer .copyright p{
    font-family: 'Glow Sans TC Wide Light', sans-serif;
    font-size: 10px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: var(--bg);
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .subscribe{
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .subscribe .logo{
        width: 185px;
    }
    .subscribe p{
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 18px;
        font-size: 18px;
    }
    .subscribe .emailInput{
        width: auto;
        border-bottom: none;
        padding-top: 40px;
    }
    .subscribe .emailInput input{
        width: 600px;
        height: 48px;
        border-bottom: 1px solid var(--bg);
        font-size: 28px;
    }
    .subscribe .emailInput input::placeholder{
        font-size: 24px;
    }
    .subscribe .emailInput a{
        width: auto;
        position: absolute;
        margin-left: 16px;
        right: auto;
        bottom: auto;
    }

    footer .nav{
        max-width: 1200px;
        padding: 80px 40px;
        display: flex;
        justify-content: space-between;
    }
    footer .nav .menu ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    footer .nav .menu li{
        width: 184px;
        padding-bottom: 12px;
    }
    footer .nav .menu li a{
        font-size: 24px;
    }
    footer .nav .SNS{
        margin-top: 0;
        padding-top: 0;
    }
    footer .copyright{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    footer .copyright p{
        font-size: 14px;
    }
}