@keyframes mainPicAni{
    0%{scale: 0.5; rotate: -10deg; opacity: 0.3;}
    100%{rotate: 0deg;}
}
.intro .mainPic{
    animation: mainPicAni 1.5s ease-out 0s 1 alternate;
}

form{
    position: relative;
    margin: 32px 32px 232px;
    border-top: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
    display: flex;
    flex-direction: column;
}
form .wrap{
    display: flex;
    flex-direction: column;
}
form label{
    font-family: 'Glow Sans TC Wide Bold', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}
form input{
    margin-top: 8px;
    border-style: none;
    background-color: var(--bg);
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
}
form input:focus{
    outline: none;
}
::placeholder{
    opacity: 0.3;
}
form .nameWrap .lastNameWrap{
    padding: 12px 0; 
    border-bottom: 1px solid var(--main);
}
form .nameWrap .firstNameWrap{
    padding: 12px 0; 
    border-bottom: 1px solid var(--main);
}
form .emailWrap{
    padding: 12px 0; 
    border-bottom: 1px solid var(--main);

}
form .subjectWrap{
    padding: 12px 0; 
    border-bottom: 1px solid var(--main);

}
form .feedbackWrap{
    padding: 12px 0; 
}
form textarea{
    margin-top: 10px;
    border-style: none;
    background-color: var(--bg);
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.6em;
}
form textarea:focus{
    outline: none;
}
form button{
    position: absolute;
    right: 0;
    bottom: -80px;
    padding: 0;
    background-color: var(--bg);
    border-style: none;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    form{
        max-width: 996px;
        margin: 0 auto 232px;
    }
    form .wrap{
        display: block;
    }
    form label{
        display: inline-block;
        width: 110px;
        font-size: 20px;
    }
    form input{
        margin: 0;
        min-height: 48px;
        font-size: 24px;
        letter-spacing: 0.02em;
    }
    form .nameWrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 12px 0; 
        border-bottom: 1px solid var(--main);
    }
    form .nameWrap .lastNameWrap{
        padding: 0;
        width: 50%;
        border-right: 1px solid var(--main);
        border-bottom: none;
    }
    form .nameWrap .firstNameWrap{
        width: 50%;
        padding: 0;
        padding-left: 12px;
        border-bottom: none;
    }
    form .emailWrap{
        padding: 12px 0; 
        border-bottom: 1px solid var(--main);
    
    }
    form .subjectWrap{
        padding: 12px 0; 
        border-bottom: 1px solid var(--main);
    
    }
    form .feedbackWrap{
        padding: 30px 0; 
        display: flex;
        flex-direction: column;
    }
    form .feedbackWrap label{
        padding-bottom: 5px;
    }
    form textarea{
        font-size: 24px;
        letter-spacing: 0.02em;
        line-height: 1.6em;
    }
    form button{
        position: absolute;
        right: 0;
        bottom: -80px;
        padding: 0;
        background-color: var(--bg);
        border-style: none;
        cursor: pointer;
    }
}