

.titleBar{
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 24px 0;
}
.titleBar .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleBar h2{
    display: inline-block;
}


/*----------跑馬燈----------*/
.ticker{
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 2px solid #000;
    overflow: hidden;
}
.ticker ul{
    display: flex;
    gap: 24px;
}
.ticker ul li{
    flex-shrink: 0;
}
.ticker ul li a{
    font-family: 'Glow Sans TC Wide Light';
    font-size: 24px;
    text-decoration: none;
}

/*----------路線----------*/
.routes .content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 112px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.routes .content .picCards{
    width: 60%;
    display: flex;
    position: relative;
}
.routes .content .picCards .pic{
    position: absolute;
}
.routes .content .picCards .pic:nth-child(1){
    right: 0;
    z-index: 3;
}
.routes .content .picCards .pic:nth-child(2){
    left: 30%;
    z-index: 2;
}
.routes .content .picCards .pic:nth-child(3){
    left: 0;
    z-index: 1;
}
.routes .content .text{
    width: 30%;
    min-height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.routes .content .text header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}
.routes .content .text .distance{
    font-family: 'Glow Sans TC Normal Bold';
    font-size: 16px;
    letter-spacing: 0.03em;
}
.routes .content .text .tags{
    margin-top: 112px;
}
.routes .content .btnGo {
    position: absolute;
    right: 0;
    bottom: 0;
}



/*----------探索點----------*/
.spots .cardGrid{
    margin: 0 auto;
    padding: 112px 0;
    max-width: 1200px;
    display: grid;
    /* grid-template: repeat(4,1fr) / repeat(6,1fr); */
    grid-template: repeat(4,183.33px) / repeat(6,183.33px);
    gap: 20px;
}
.spots .cardGrid .card{
    position: relative;
    border-radius: 24px;
    border: 1px solid var(--main);
    overflow: hidden;
}
.spots .cardGrid .card .caption{
    position: absolute;
    left: 30px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.spots .cardGrid .card .caption .tag{
    padding: 6px 16px;
    border: 1px solid var(--main);
    border-bottom: none;
    background-color: var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.spots .cardGrid .card .caption h3{
    padding: 6px 16px;
    border: 1px solid var(--main);
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.spots .cardGrid .card .caption .loc{
    padding: 6px 16px;
    border: 1px solid var(--main);
    border-top: none;
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
}
.spots .cardGrid .card .pic img{
    width: 100%;
}
.spots .cardGrid .c01{
    grid-area: 1 / 1 / 3 / 3;
}
.spots .cardGrid .c02{
    grid-area: 1 / 3 / 3 / 5;
}
.spots .cardGrid .c03{
    grid-area: 1 / 5 / 2 / 7;
}
.spots .cardGrid .c04{
    grid-area: 2 / 5 / 3 / 7;
}
.spots .cardGrid .c05{
    grid-area: 3 / 1 / 5 / 5;
}
.spots .cardGrid .c06{
    grid-area: 3 / 5 / 5 / 7;
}


/*----------活動----------*/

.activities .content{
    margin: 0 auto;
    padding: 144px 0;
    max-width: 1200px;
    display: flex;
    gap: 20px;
}
.activities .content .activity{
    text-align: center;
    position: relative;
}
.activities .content .activity h4{
    padding: 12px;
    border: 1px solid var(--main);
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: -32px;
    left: 0;
    z-index: 3;
}
.activities .content .activity .pic{
    width: 389px;
    height: 218px;
    background-color: var(--main);
    position: relative;
    clip-path: ellipse(50% 50% at 50% 50%);
    overflow: hidden;
}
.activities .content .activity .pic img{
    width: 387px;
    height: 216px;
    position: absolute;
    top: 1px;
    left: 1px;
    clip-path: ellipse(50% 50% at 50% 50%);
    overflow: hidden;
}
.activities .content .activity .detail{
    position: absolute;
    right: 0;
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.activities .content .activity .detail .loc{
    padding: 8px 10px 8px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.activities .content .activity .detail .tag{
    padding: 8px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.activities .content .activity .line{
    margin-top: 64px;
    margin-bottom: 24px;
    border: 1px solid var(--main);
}
.activities .content .activity .date{
    font-family: 'Glow Sans TC Normal Bold';
    font-size: 20px;
    line-height: 32px;
}
.activities .content .activity .time{
    font-family: 'Glow Sans TC Normal Regular';
    font-size: 20px;
    line-height: 32px;
}



