

.titleBar{
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 16px 0;
    position: sticky;
    background-color: var(--bg);
    z-index: 9;
    top: 72px;
}
.titleBar .container{
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleBar h2{
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .titleBar{
        padding: 24px 0;
        top: 90px;
    }
    .titleBar .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}


@keyframes mainPicAni{
    0%{rotate: 0deg;}
    100%{rotate: 5deg;}
}
.intro .mainPic{
    animation: mainPicAni 0.8s linear 0s infinite alternate-reverse;
}


/*----------跑馬燈----------*/
@keyframes scroll_1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes scroll_2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
.ticker{
    border-top: 2px solid #000;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
    display: flex;
}
.ticker .tagWrapper{
    animation: scroll_1 60s linear infinite;
    animation-delay: -60s;

    &:nth-child(2){
    animation: scroll_2 60s linear infinite;
    animation-delay: -30s;
    }
}
.ticker ul{
    white-space: nowrap;
}
.ticker ul li{
    display: inline-block;
    padding-left: 12px;
}
.ticker ul li a{
    font-family: 'Glow Sans TC Wide Light', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .ticker{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .ticker ul li{
        padding-left: 24px;
    }
    .ticker ul li a{
        font-size: 24px;
        text-decoration: none;
    }
}

/*----------路線----------*/
.routes .content{
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.routes .content .picCards{
    display: flex;
    position: relative;
}
.routes .content .picCards .pic{
    width: 50%;
    transition: 0.3s linear;
}
.routes .content .picCards .pic img{
    width: 100%;
}
.routes .content .picCards .pic:nth-child(1){
    position: absolute;
    right: 0;
    z-index: 3;
}
.routes .content .picCards .pic:nth-child(1):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.routes .content .picCards .pic:nth-child(2){
    position: absolute;
    left: 25%;
    z-index: 2;
}
.routes .content .picCards .pic:nth-child(2):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.routes .content .picCards .pic:nth-child(3){
    left: 0;
    z-index: 1;
}
.routes .content .picCards .pic:nth-child(3):hover{
    z-index: 4;
    scale: 1.05;
    transition: 0.3s linear;
}
.routes .content .text{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.routes .content .text header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.routes .content .text .distance{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
}
.routes .content .text .tags{
    margin-top: 64px;
}
.routes .content .btnGo{
    position: absolute;
    right: 0;
    bottom: 0;
}
.routes .content .btnGo:hover{
    transform: translateX(25px);
}

@media screen and (min-width: 1024px) {
    .routes .content{
        max-width: 1200px;
        padding: 112px 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .routes .content .picCards{
        width: 60%;
    }
    .routes .content .picCards .pic{
        width: auto;
    }
    .routes .content .picCards .pic:nth-child(1){
        position: absolute;
    }
    .routes .content .picCards .pic:nth-child(2){
        left: 30%; 
        z-index: 2;
    }
    .routes .content .picCards .pic:nth-child(3){
        left: 0;
        z-index: 1;
    }
    .routes .content .text{
        width: 30%;
        margin-top: 0;
        display: flex;
    }
    .routes .content .text header{
        padding-bottom: 48px;
    }
    .routes .content .text .distance{
        font-size: 16px;
    }
    .routes .content .text .tags{
        margin-top: 112px;
    }
}



/*----------探索點----------*/
.spots .cardGrid{
    margin: 0 auto;
    padding: 32px;
}
.spots .cardGrid .card{
    position: relative;
    border-radius: 24px;
    border: 1px solid var(--main);
    overflow: hidden;
    margin-bottom: 14px;
}
.spots .cardGrid .card .caption{
    position: absolute;
    left: 20px;
    bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.spots .cardGrid .card .caption .tag{
    padding: 6px 12px;
    border: 1px solid var(--main);
    border-bottom: none;
    background-color: var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.spots .cardGrid .card .caption h3{
    padding: 6px 12px;
    border: 1px solid var(--main);
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.spots .cardGrid .card .caption .loc{
    padding: 6px 12px;
    border: 1px solid var(--main);
    border-top: none;
    background-color: var(--bg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
}
.spots .cardGrid .card .pic img{
    width: 100%;
    transition: 0.5s linear;
}
.spots .cardGrid .card:hover img{
    scale: 1.1;
    transition: 0.5s linear;
}


@media screen and (min-width: 1024px) {
    .spots .cardGrid{
        margin: 0 auto;
        padding: 112px 40px;
        max-width: 1200px;
        display: grid;
        grid-template: repeat(4,183.33px) / repeat(6,183.33px);
        gap: 20px;
    }
    .spots .cardGrid .card{
        position: relative;
        border-radius: 24px;
        border: 1px solid var(--main);
        overflow: hidden;
    }
    .spots .cardGrid .card .caption{
        left: 30px;
        bottom: 25px;
    }
    .spots .cardGrid .card .caption .tag{
        padding: 6px 16px;
    }
    .spots .cardGrid .card .caption h3{
        padding: 6px 16px;
    }
    .spots .cardGrid .card .caption .loc{
        padding: 6px 16px;
    }
    .spots .cardGrid .c01{
        grid-area: 1 / 1 / 3 / 3;
    }
    .spots .cardGrid .c02{
        grid-area: 1 / 3 / 3 / 5;
    }
    .spots .cardGrid .c03{
        grid-area: 1 / 5 / 2 / 7;
    }
    .spots .cardGrid .c04{
        grid-area: 2 / 5 / 3 / 7;
    }
    .spots .cardGrid .c05{
        grid-area: 3 / 1 / 5 / 5;
    }
    .spots .cardGrid .c06{
        grid-area: 3 / 5 / 5 / 7;
    }
}


/*----------活動----------*/

.activities .content{
    margin: 32px auto;
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
    overflow-x: scroll;
    text-align: center;
}
.activities .content .timeline{
    width: 100%;
    position: absolute;
    bottom: 66px;
    left: 32px;
}
.activities .content .activity{
    padding-left: 32px;
    text-align: center;
    position: relative;
}
.activities .content .activity h4{
    padding: 12px;
    border: 1px solid var(--main);
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 32px;
    z-index: 3;
}
.activities .content .activity .pic{
    width: 80vw;
    height: 40vw;
    border: 2px solid var(--main);
    border-radius: 50%;
    position: relative;
    top: 40px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.activities .content .activity .pic img{
    width: 100%;
    transition: 0.5s linear;
}
.activities .content .activity .pic:hover img{
    scale: 1.1;
    transition: 0.5s linear;
}
.activities .content .activity .detail{
    position: absolute;
    right: 0;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.activities .content .activity .detail .loc{
    padding: 6px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.activities .content .activity .detail .tag{
    padding: 6px 10px;
    text-align: right;
    color: var(--bg);
    background-color: var(--main);
    border: 1px solid var(--bg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.activities .content .activity .dot{
    margin: 96px auto 16px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main);
}
.activities .content .activity .date{
    font-family: 'Glow Sans TC Normal Bold', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.activities .content .activity .time{
    font-family: 'Glow Sans TC Normal Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width: 1024px) {
    .activities .content{
        margin: 144px auto;
        padding: 0 40px;
        max-width: 1200px;
        overflow: visible;
    }
    .activities .content .timeline{
        bottom: 90px;
    }
    .activities .content .activity{
        padding-left: 0;
    }
    .activities .content .activity h4{
        top: -32px;
        left: 0;
    }
    .activities .content .activity .pic{
        width: 376px;
        height: 184px;
        top: 16px;
    }
    .activities .content .activity .detail{
        top: 160px;
    }
    .activities .content .activity .detail .loc{
        padding: 8px 10px;
    }
    .activities .content .activity .detail .tag{
        padding: 8px 10px;
    }
    .activities .content .activity .dot{
        margin: 48px auto 24px;
    }
    .activities .content .activity .date{
        font-size: 20px;
        line-height: 32px;
    }
    .activities .content .activity .time{
        font-size: 20px;
        line-height: 32px;
    }
}



